# Environmental Variables for FSWatcher Docker Deployment

# ========================
# Docker configurations
# ========================
# Docker Container name
CONTAINER_NAME=fswatcher

# Docker Image name
IMAGE_NAME=fswatcher

# ========================
# AWS configurations
# ========================
# S3 bucket name (Note:Support directories as well s3-bucket-name/directory)
S3_BUCKET_NAME=nasa-heasarc/nicer/data/obs/2017_10

# AWS region (Used for Timestream Database)
AWS_REGION="us-east-2"

# Concurrency limit (Limit of concurrent uploads)
CONCURRENCY_LIMIT=3

# IAM Policy Test - when enabled runs a push/delete with a generated test file to ensure policy is set correctly
TEST_IAM_POLICY=false

# ========================
# Directory to watch
# ========================
# Filepath to the directory to be watched (Needs to be created/existing before running)
WATCH_DIR=/FTP/nicer/data/obs/2017_10

# Get path of current working directory (where the script is located)
SCRIPT_PATH=/local/data/vfitsssd/tjaffe/fswatcher

# Allow Delete of files to match Watch Directory
ALLOW_DELETE=false

# Allow Backtrack of files to match Watch Directory
BACKTRACK=true

# Date to Backtrack to (Optional)
# BACKTRACK_DATE="2021-01-01"

# Check Against S3 when Backtracking
CHECK_S3=true

# Fallback Watcher (Linux Only), uses a slower directory walking and db lookup method. But should work better for larger filesystems and files that might not cause any FSEvents to be created
USE_FALLBACK=true

# ========================
# Logging configurations
# ========================
# File Logging (If you'd like to store a log file within the container)
FILE_LOGGING=true

# Log Directory (If you'd like to persist the log to your host system)
LOG_DIR=/local/data/vfits1/tjaffe/space/work/heasarc/odr/fswatcher_log

# Boto3 Logging, enables Botocore logging for more in depth logs
BOTO3_LOGGING=true

# ========================
# TimeStream configurations (optional)
# ========================
# TimeStream database name (optional)
# TIMESTREAM_DB=""

# TimeStream table name (optional)
# TIMESTREAM_TABLE=""

# ========================
# Slack configurations (optional)
# ========================
# Slack token (optional)
# SLACK_TOKEN=slack_token

# Slack channel (optional)
# SLACK_CHANNEL=slack_channel_id
