# Environmental Variables for fswatcher

# Docker Container name
CONTAINER_NAME=fswatcher

# Docker Image name
IMAGE_NAME=fswatcher

# S3 bucket name (Note:Support directories as well s3-bucket-name/directory)
S3_BUCKET_NAME=s3-bucket-name

# Filepath to the directory to be watched (Needs to be created/existing before running)
WATCH_DIR=~/watch_directory

# Concurrency limit (Limit of concurrent uploads)
CONCURRENCY_LIMIT=100

# AWS region (Used for Timestream Database)
AWS_REGION="us-east-1"

# Get path of current working directory (where the script is located)
SCRIPT_PATH=$(pwd)

# Allow Delete of files to match Watch Directory
ALLOW_DELETE=false

# Allow Backtrack of files to match Watch Directory
BACKTRACK=true

# Date to Backtrack to (Optional)
# BACKTRACK_DATE="2021-01-01"

# Check Against S3 when Backtracking
CHECK_S3=false

# File Logging (If you'd like to store a log file within the container)
FILE_LOGGING=false

# Boto3 Logging, enables Botocore logging for more in depth logs
BOTO3_LOGGING=false

# IAM Policy Test - when enabled runs a push/delete with a generated test file to ensure policy is set correctly
TEST_IAM_POLICY=false

# TimeStream database name (optional)
# TIMESTREAM_DB=""

# TimeStream table name (optional)
# TIMESTREAM_TABLE=""

# Slack token (optional)
# SLACK_TOKEN=""

# Slack channel (optional)
# SLACK_CHANNEL=""
